<!DOCTYPE html>
<html>
<head>
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="card">
        <img class="card_img" src="https://img.freepik.com/vector-gratis/mujer-estudiante_1284-793.jpg">
        <h1 class="card_title">Geovanna Daniela</h1>
        <h2 class="card_subtitle">Estudiante front-end</h2>
        <p class="card_content">Soy una estudiante apasionada por el desarrollo frontend, siempre en busca de nuevas formas de mejorar la experiencia de usuario y explorar las últimas tendencias en diseño web. Me encanta aprender sobre tecnologías y herramientas que optimicen tanto la interfaz como el rendimiento de las aplicaciones, y disfruto combinando creatividad y lógica para construir interfaces intuitivas y atractivas.</p>
    </div>
    
    <div class="card red_card">
        <img class="card_img" src="https://img.freepik.com/vector-premium/feliz-mujer-joven-sonriente-sosteniendo-cuaderno-fondo-blanco_1023984-26786.jpg">
        <h1 class="card_title">Sayda Mileny</h1>
        <h2 class="card_subtitle">Estudiante back-end</h2>
        <p class="card_content"> Tengo un gran interés por el desarrollo backend, donde me enfoco en la creación de arquitecturas escalables y eficientes que permitan el funcionamiento óptimo de las aplicaciones. A lo largo de mi experiencia, he adquirido conocimientos en el manejo de bases de datos, integración de servicios a través de APIs, y en la implementación de sistemas robustos que aseguren una interacción fluida entre el frontend y el servidor. </p>
    </div>

    <div class="card green_card">
        <img class="card_img" src="https://img.freepik.com/vector-premium/educacion-escolar-maestro-ninos-clase-conocimiento-estudiante-vector-ilustracion-ensenanza-pos_1013341-458367.jpg">
        <h1 class="card_title">Sofia Valentina</h1>
        <h2 class="card_subtitle">Estudiante front-end</h2>
        <p class="card_content">Me apasiona el desarrollo backend, donde me dedico a crear la lógica y la estructura que hacen posible el funcionamiento de las aplicaciones. Me enfoco en diseñar sistemas eficientes y escalables, gestionando bases de datos, integrando APIs y desarrollando servidores que soporten la carga de trabajo de manera confiable</p>
    </div>
</body>
</html>