body{
    background-color: #fff;
    font-family: sans-serif;
    color: black;
}

.card{
    background: pink;
    text-align: center;
    width: 300px;
    margin:auto;
    margin-top: 50px;
    padding: 20px 10px;
    box-shadow: 0px 0px 25px #0006;
    border-radius: 8px;
    display: inline-block ;
    margin: 24px;
}

.card_title{
    padding-top: 10px;
    font-size: 22px;
    margin: 0;
}

.card_subtitle{
    font-size: 13px;
    font-weight: 100;
    letter-spacing: 2px;
    margin: 0;
    margin-top: 5px;
}
.card_content{
    font-size: 9px;
    padding: 10px 20px;
    padding-bottom: 0;
    text-align: justify;
    margin-bottom: 0;
}

.card_img{
    width: 100px;
    border-radius: 50%;
}

.red_card{
    background: #f86;

}

.green_card{
    background: #5b7;
}